@charset "ISO-8859-1";

body{
	
	background-color:#0000a0
	
	
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#answer {
	font-size: 50px;
	color: #ffffff

}
#welcome {
	font-size: 30px;
	color: #ff0000
}
#solution {
	font-size: 50px;
	color: #00ff00
}
#techStack {
	#solution {
	font-size: 35px;
	color: #ff00ff
}
#stakeholders {
	font-size: 35px;
	color: #ff0000
}
}
